La idea es hacer un Dataframe por archivo e ir explorandolos y limpiando de a poco.

In [215]:
import pandas as pd

Establezco la ruta de mi archivo .csv para crear el dataframe y poder explorarlo.

In [216]:
ruta1 = 'Data/data_1.csv'

In [217]:
df_1 = pd.read_csv(ruta1)

In [218]:
df_1.head()

,Año,Trimestre,Provincia,Accesos por cada 100 hogares,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,2022,4,Buenos Aires,"78,94",NaN,NaN,NaN
1,2022,4,Capital Federal,"122,73",NaN,NaN,NaN
2,2022,4,Catamarca,"65,77",NaN,NaN,NaN
3,2022,4,Chaco,"43,62",NaN,NaN,NaN
4,2022,4,Chubut,"85,57",NaN,NaN,NaN

In [220]:
df_1.dtypes

Año                               int64
Trimestre                         int64
Provincia                        object
Accesos por cada 100 hogares     object
Unnamed: 4                      float64
Unnamed: 5                      float64
Unnamed: 6                      float64
dtype: object

Las columnas 'Unnamed:' 4,5 y 6 parecen no tener nada. Voy a explorarlas a ver si tienen algún valor.

In [1]:
df_1['Unnamed: 4'].isnull().sum()

NameError: name 'df_1' is not defined

In [222]:
df_1['Unnamed: 5'].isnull().sum()

864

In [223]:
df_1['Unnamed: 6'].isnull().sum()

864

Las voy a borrar porque solo tienen valores nulos.

In [224]:
df_1.drop(['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6'], axis=1, inplace= True)

In [225]:
df_1.head()

    Año  Trimestre        Provincia Accesos por cada 100 hogares
0  2022          4     Buenos Aires                        78,94
1  2022          4  Capital Federal                       122,73
2  2022          4        Catamarca                        65,77
3  2022          4            Chaco                        43,62
4  2022          4           Chubut                        85,57

In [226]:
df_1['Año']

0      2022
1      2022
2      2022
3      2022
4      2022
       ...
859    2014
860    2014
861    2014
862    2014
863    2014
Name: Año, Length: 864, dtype: int64

Voy a explorar las otras columnas. Primero, a ver si cuántos valores nulos tienen.

In [227]:
df_1['Año'].isnull().sum()

0

In [47]:
df_1['Trimestre'].isnull().sum()

0

In [54]:
df_1['Provincia'].isnull().sum()

0

Por suerte las otras columnas no tienen nulos. Voy a cambiar el tipo de dato de 'acceso por cada 100 hogares' a float. Primero, tengo que reemplazar las comas por puntos.

In [228]:
df_1['Accesos por cada 100 hogares'] = df_1['Accesos por cada 100 hogares'].str.replace(',', '.', regex=True)

In [229]:
df_1['Accesos por cada 100 hogares'] = df_1['Accesos por cada 100 hogares'].astype(float)

In [230]:
type(df_1['Accesos por cada 100 hogares'][0])

numpy.float64

Búsqueda de datos duplicados. En este caso lo importante es que no haya más de una fila con una combinación de Año-Trimestre-Provincia.

In [231]:
columnas = ['Año', 'Trimestre', 'Provincia']

duplicados = df_1.duplicated(subset=columnas)

filas_duplicadas = df_1[duplicados]

filas_duplicadas

Empty DataFrame
Columns: [Año, Trimestre, Provincia, Accesos por cada 100 hogares]
Index: []

No hay valores duplicados.

Tengo que cambiar el nombre a las columnas para estandarizarlas.

In [232]:
df_1['anio'] = df_1['Año']
df_1['trimestre'] = df_1['Trimestre']
df_1['provincia'] = df_1['Provincia']
df_1['accesos_por_cada_100_hogares'] = df_1['Accesos por cada 100 hogares']

In [235]:
df_1.head()

   anio  trimestre        provincia  accesos_por_cada_100_hogares
0  2022          4     Buenos Aires                         78.94
1  2022          4  Capital Federal                        122.73
2  2022          4        Catamarca                         65.77
3  2022          4            Chaco                         43.62
4  2022          4           Chubut                         85.57

In [234]:
df_1.drop(['Año', 'Trimestre', 'Provincia', 'Accesos por cada 100 hogares'], axis=1, inplace= True)

Voy a pasar todas las letras a minúsulas y sacar los acentos.

In [237]:
import unicodedata

for column in df_1.columns:
    if df_1[column].dtype == 'object':
        df_1[column] = df_1[column].str.lower().apply(lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode('utf-8'))

In [ ]:
df_1[df_1['provincia'] == 'tucuman']

In [525]:
df_1.to_csv('df_1.csv', index=False)

# Data_2

In [2]:
import pandas as pd

In [3]:
ruta2 = 'Data/data_2.csv'

In [4]:
df_2 = pd.read_csv(ruta2)

In [7]:
df_2.head()

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2022,4,"77,21","24,15",Oct-Dic 2022
1,2022,3,"76,64","23,95",Jul-Sept 2022
2,2022,2,"75,97","23,72",Abr-Jun 2022
3,2022,1,"73,88","23,05",Ene-Mar 2022
4,2021,4,"73,18","22,81",Oct-Dic 2021

In [58]:
df_2.dtypes

Año                               int64
Trimestre                         int64
Accesos por cada 100 hogares    float64
Accesos por cada 100 hab        float64
Periodo                          object
dtype: object

Luego de hacer el dataframe con el segundo archivo .csv, voy a revisar las columnas, en particular, si tienen datos nulos.

In [5]:
# No hay datos nulos
df_2.isnull().sum()

Año                             0
Trimestre                       0
Accesos por cada 100 hogares    0
Accesos por cada 100 hab        0
Periodo                         0
dtype: int64

Nuevamente voy a cambiar el tipo de dato de las columnas 'Accesos por cada 100 hogares' y 'Accesos por cada 100 hab', pero primero tengo que reemplazar las comas por puntos.

In [22]:
df_2.shape

(36, 5)

Reemplazo las comas por puntos para pasarlas a tipo de dato float sin problemas.

In [14]:
df_2['Accesos por cada 100 hogares'] = df_2['Accesos por cada 100 hogares'].str.replace(',', '.', regex=True)

In [15]:
df_2['Accesos por cada 100 hogares'] = df_2['Accesos por cada 100 hogares'].astype(float)

In [16]:
df_2['Accesos por cada 100 hab'] = df_2['Accesos por cada 100 hab'].str.replace(',', '.', regex=True)

In [17]:
df_2['Accesos por cada 100 hab'] = df_2['Accesos por cada 100 hab'].astype(float)

In [18]:
df_2.head()

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2022,4,77.21,24.15,Oct-Dic 2022
1,2022,3,76.64,23.95,Jul-Sept 2022
2,2022,2,75.97,23.72,Abr-Jun 2022
3,2022,1,73.88,23.05,Ene-Mar 2022
4,2021,4,73.18,22.81,Oct-Dic 2021

In [21]:
type(df_2['Accesos por cada 100 hab'][0]), type(df_2['Accesos por cada 100 hab'][0])

(numpy.float64, numpy.float64)

Búsqueda de datos duplicados. En este caso lo importante es que no haya una combinación repetida de Año-Trimestre

In [149]:
columnas = ['Año', 'Trimestre']

duplicados = df_2.duplicated(subset=columnas)

filas_duplicadas = df_2[duplicados]

filas_duplicadas

Empty DataFrame
Columns: [Año, Trimestre, Accesos por cada 100 hogares, Accesos por cada 100 hab, Periodo]
Index: []

No hay datos duplicados.

Voy a pasar todos los valores a minúsculas y sacar los acentos.

In [242]:
import unicodedata

for column in df_2.columns:
    if df_2[column].dtype == 'object':
        df_2[column] = df_2[column].str.lower().apply(lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode('utf-8'))

In [243]:
df_2.head(1)

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2022,4,77.21,24.15,oct-dic 2022

Voy a renombrar las columnas para que no tengan espacios, mayúsculas ni ñ. Para esto, primero creo un diccionario con los numbres nuevos, y despues los asigno con .rename

In [245]:
nuevas_columnas = {
    'Año': 'anio',
    'Trimestre': 'trimestre',
    'Accesos por cada 100 hogares': 'accesos_por_cada_100_hogares',
    'Accesos por cada 100 hab': 'accesos_por_cada_100_hab',
    'Periodo': 'periodo'
}

In [246]:
df_2.rename(columns=nuevas_columnas, inplace=True)

In [247]:
df_2.head(1)

,anio,trimestre,accesos_por_cada_100_hogares,accesos_por_cada_100_hab,periodo
0,2022,4,77.21,24.15,oct-dic 2022

Nuevamente, sospecho que las columnas 'Periodo' y 'Trimestre' no las voy a usar, así que probablemente las borre, pero por ahora las voy a dejar.

Me faltaría hacer búsqueda de outliers.

In [524]:
df_2.to_csv('df_2.csv', index=False)

# Data_3

In [6]:
import pandas as pd

In [7]:
ruta3 = 'Data/data_3.csv'

In [8]:
df_3 = pd.read_csv(ruta3)

In [26]:
df_3.head()

    Año  Trimestre  Banda ancha fija  Dial up  Total        Periodo
0  2022          4                11       12     11   Oct-Dic 2022
1  2022          3                11       12     11  Jul-Sept 2022
2  2022          2                11       12     11   Abr-Jun 2022
3  2022          1                11       13     11   Ene-Mar 2022
4  2021          4                10       13     10   Oct-Dic 2021

En este caso, tenemos un dato nuevo: 'Dial up'. Es un servicio de conexión por línea conmutada, es decir, conectado a la red telefónica conmutada fija.

In [59]:
df_3.dtypes

Año                  int64
Trimestre            int64
Banda ancha fija     int64
Dial up              int64
Total                int64
Periodo             object
dtype: object

In [10]:
df_3.isnull().sum() # No hay nulos

Año                 0
Trimestre           0
Banda ancha fija    0
Dial up             0
Total               0
Periodo             0
dtype: int64

Búsqueda de datos duplicados. En este caso lo importante es que no haya una combinación repetida de Año-Trimestre

In [150]:
columnas = ['Año', 'Trimestre']

duplicados = df_3.duplicated(subset=columnas)

filas_duplicadas = df_3[duplicados]

filas_duplicadas

Empty DataFrame
Columns: [Año, Trimestre, Banda ancha fija, Dial up, Total, Periodo]
Index: []

No hay datos duplicados

Voy a cambiar el nombre de las columnas para que no tengan espacios, acentos ni 'ñ'

In [251]:
df_3.head(1)

   anio  trimestre  banda_ancha_fija  dial_up  Total       periodo
0  2022          4                11       12     11  oct-dic 2022

In [249]:
nuevas_columnas = {
    'Año': 'anio',
    'Trimestre': 'trimestre',
    'Banda ancha fija': 'banda_ancha_fija',
    'Dial up': 'dial_up',
    'Total	': 'total',
    'Periodo': 'periodo',
}
df_3.rename(columns=nuevas_columnas, inplace=True)

Voy a poner todo el texto en minuscula y sacar tildes

In [250]:
import unicodedata

for column in df_3.columns:
    if df_3[column].dtype == 'object':
        df_3[column] = df_3[column].str.lower().apply(lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode('utf-8'))

In [523]:
df_3.to_csv('df_3.csv', index=False)

# Data_4

In [12]:
import pandas as pd

In [13]:
ruta4 = 'Data/data_4.csv'

In [14]:
df_4 = pd.read_csv(ruta4)

In [70]:
df_4.head()

    Año  Trimestre        Provincia  Banda ancha fija  Dial up  Total
0  2022          4     Buenos Aires                 5      6.0      5
1  2022          4  Capital Federal                 2      2.0      2
2  2022          4        Catamarca                71      1.0     71
3  2022          4            Chaco               144      5.0    144
4  2022          4           Chubut               168    904.0    169

Veo que los datos de 'Dial up' tienen .0. Quiero saber si los puedo pasar a enteros o si hay alguno que de hecho sea float.

In [77]:
df_4['Dial up'][0].is_integer()

True

In [78]:
son_enteros = df_4['Dial up'].apply(lambda x: x.is_integer()).all()

if son_enteros:
    print("Todos son enteros")
else:
    print("Algunos no son enteros.")

Algunos no son enteros.

In [82]:
no_enteros = df_4[df_4['Dial up'] % 1 != 0]

In [83]:
no_enteros

      Año  Trimestre Provincia  Banda ancha fija  Dial up  Total
440  2018          2   Formosa                45      NaN     45
445  2018          2  Misiones               106      NaN    106

Parece que los valores no enteros son nulos. Creo que lo mejor es reemplazarlos por cero, pero si hay otros ceros quizás es mejor tomar otra decisión.

In [108]:
df_4[df_4['Dial up'] == 0]

      Año  Trimestre Provincia  Banda ancha fija  Dial up  Total
8    2022          4   Formosa                62      0.0     62
9    2022          4     Jujuy               118      0.0    118
13   2022          4  Misiones               186      0.0    186
33   2022          3     Jujuy               119      0.0    119
37   2022          3  Misiones               182      0.0    182
..    ...        ...       ...               ...      ...    ...
608  2016          3   Formosa                28      0.0     28
613  2016          3  Misiones                98      0.0     98
805  2014          3  Misiones                75      0.0     75
829  2014          2  Misiones                75      0.0     75
853  2014          1  Misiones                74      0.0     74

[65 rows x 6 columns]

Hay otros ceros, así que quizás lo mejor no sea reemplazarlos por ceros. Voy a fijarme para esos lugares qué otros valores hay para esa columna

In [15]:
filtrado_formosa = df_4[(df_4['Año'] == 2018) & ((df_4['Trimestre'] == 1) | (df_4['Trimestre'] == 3)) & (df_4['Provincia'] == 'Formosa')]

In [16]:
filtrado_formosa

      Año  Trimestre Provincia  Banda ancha fija  Dial up  Total
416  2018          3   Formosa                45      0.0     45
464  2018          1   Formosa                32      0.0     32

La idea era sacar el promedio de 'Dial up' para Formosa en el año 2018 para los trimestres 1 y 3, y así llenar el trimestre 2, pero como los valores son 0, lo voy a transformar a 0. Ahora tengo que ver si pasó lo mismo con Misiones

In [17]:
filtrado_misiones = df_4[(df_4['Año'] == 2018) & ((df_4['Trimestre'] == 1) | (df_4['Trimestre'] == 3)) & (df_4['Provincia'] == 'Misiones')]

In [18]:
filtrado_misiones

      Año  Trimestre Provincia  Banda ancha fija  Dial up  Total
421  2018          3  Misiones               108      0.0    108
469  2018          1  Misiones               104      0.0    104

También son ceros, así que ya puedo reemplazar los 'Dial up' nulos por ceros.

In [19]:
df_4['Dial up'] = df_4['Dial up'].fillna(0)

In [115]:
df_4.head(1)

    Año  Trimestre     Provincia  Banda ancha fija  Dial up  Total
0  2022          4  Buenos Aires                 5      6.0      5

In [20]:
df_4.isna().sum(), df_4.isnull().sum()

(Año                 0
 Trimestre           0
 Provincia           0
 Banda ancha fija    0
 Dial up             0
 Total               0
 dtype: int64,
 Año                 0
 Trimestre           0
 Provincia           0
 Banda ancha fija    0
 Dial up             0
 Total               0
 dtype: int64)

No hay nulos

In [71]:
df_4.dtypes

Año                   int64
Trimestre             int64
Provincia            object
Banda ancha fija      int64
Dial up             float64
Total                 int64
dtype: object

In [74]:
df_4.shape

(864, 6)

Como ya no tengo, en teoría, valores decimales en la columna 'Dial up', voy a pasarla a int.

In [21]:
df_4['Dial up'] = df_4['Dial up'].astype(int)

In [127]:
type(df_4['Dial up'][0])

numpy.int32

In [128]:
df_4.head()

    Año  Trimestre        Provincia  Banda ancha fija  Dial up  Total
0  2022          4     Buenos Aires                 5        6      5
1  2022          4  Capital Federal                 2        2      2
2  2022          4        Catamarca                71        1     71
3  2022          4            Chaco               144        5    144
4  2022          4           Chubut               168      904    169

Búsqueda de datos duplicados. En este caso, lo importante es que no haya alguna combinación de Año-Trimestre-Provincia que haya sido registrada más de una vez.

In [152]:
columnas = ['Año', 'Trimestre', 'Provincia']

duplicados = df_4.duplicated(subset=columnas)

filas_duplicadas = df_4[duplicados]

filas_duplicadas

Empty DataFrame
Columns: [Año, Trimestre, Provincia, Banda ancha fija, Dial up, Total]
Index: []

No hay datos duplicados.

Tengo que cambiar los nombres de las columnas para sacarles los espacios, las mayúsculas y los caracteres potencialmente problemáticos.

In [253]:
nuevas_columnas = {
    'Año': 'anio',
    'Trimestre': 'trimestre',
    'Provincia': 'provincia',
    'Banda ancha fija': 'banda_ancha_fija',
    'Dial up': 'dial_up',
    'Total	': 'total'
}
df_4.rename(columns=nuevas_columnas, inplace=True)

También voy a normalizar todos los datos(pasarlos a minúsculas, sacarles tildes, etc.)

In [255]:
import unicodedata

for column in df_4.columns:
    if df_4[column].dtype == 'object':
        df_4[column] = df_4[column].str.lower().apply(lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode('utf-8'))

In [522]:
df_4.to_csv('df_4.csv', index=False)

# Df_5

In [ ]:
import pandas as pd

In [129]:
ruta5 = 'Data/data_5.csv'

In [130]:
df_5 = pd.read_csv(ruta5)

In [131]:
df_5.head()

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2022,4,1,6,3,573,222,11,Oct-Dic 2022
1,2022,3,1,6,3,557,235,11,Jul-Sept 2022
2,2022,2,1,6,3,556,232,11,Abr-Jun 2022
3,2022,1,2,6,2,546,252,11,Ene-Mar 2022
4,2021,4,2,6,2,523,253,10,Oct-Dic 2021

In [73]:
df_5.dtypes

Año              int64
Trimestre        int64
ADSL             int64
Cablemodem       int64
Fibra óptica     int64
Wireless         int64
Otros            int64
Total            int64
Periodo         object
dtype: object

In [132]:
df_5.shape

(36, 9)

In [133]:
df_5.head(1)

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2022,4,1,6,3,573,222,11,Oct-Dic 2022

Voy a revisar que las columnas no tengan nulos ni valores faltantes.

In [ ]:
df_5.info()

Voy a chequear que no haya duplicados. En este dataframe, lo importante es que la combinación Año-Trimestre no esté repetida:

In [146]:
columnas = ['Año', 'Trimestre']

duplicados = df_5.duplicated(subset=columnas)

filas_duplicadas = df_5[duplicados]

In [147]:
filas_duplicadas

Empty DataFrame
Columns: [Año, Trimestre, ADSL, Cablemodem, Fibra óptica, Wireless, Otros, Total, Periodo]
Index: []

Cambiando el nombre a las columnas:

In [266]:
df_5.head(1)

,anio,trimestre,adsl,cablemodem,fibra_optica,wireless,otros,total,periodo
0,2022,4,1,6,3,573,222,11,oct-dic 2022

In [265]:

nuevas_columnas = {
    'Año': 'anio',
    'Trimestre': 'trimestre',
    'ADSL': 'adsl',
    'Cablemodem': 'cablemodem',
    'Fibra óptica': 'fibra_optica',
    'Wireless': 'wireless',
    'Otros': 'otros',
    'Total': 'total',
    'Periodo': 'periodo'
}
df_5.rename(columns=nuevas_columnas, inplace=True)

Normalizando los datos:

In [260]:

import unicodedata

for column in df_5.columns:
    if df_5[column].dtype == 'object':
        df_5[column] = df_5[column].str.lower().apply(lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode('utf-8'))

In [521]:
df_5.to_csv('df_5.csv', index=False)

# Df_6

In [153]:
import pandas as pd

In [154]:
ruta6 = 'Data/data_6.csv'

In [155]:
df_6 = pd.read_csv(ruta6)

In [156]:
df_6.head()

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,4,Buenos Aires,326.0,3.0,1.0,130.0,72.0,5.0
1,2022,4,Capital Federal,139.0,1.0,139.0,5.0,32.0,2.0
2,2022,4,Catamarca,9.0,11.0,47.0,1.0,2.0,71.0
3,2022,4,Chaco,25.0,61.0,47.0,8.0,3.0,144.0
4,2022,4,Chubut,45.0,74.0,10.0,31.0,9.0,169.0

In [157]:
df_6.dtypes

Año              object
Trimestre        object
Provincia        object
ADSL            float64
Cablemodem      float64
Fibra óptica    float64
Wireless        float64
Otros           float64
Total           float64
dtype: object

In [158]:
df_6.shape

(865, 9)

In [159]:
df_6.head(1)

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,4,Buenos Aires,326.0,3.0,1.0,130.0,72.0,5.0

In [169]:
df_6['Año'].isna().sum(), df_6['Año'].isnull().sum()

(0, 0)

In [170]:
df_6['Trimestre'].isna().sum(), df_6['Trimestre'].isnull().sum()

(0, 0)

In [168]:
df_6['Provincia'].isna().sum(), df_6['Provincia'].isnull().sum()

(1, 1)

In [167]:
df_6['ADSL'].isna().sum(), df_6['ADSL'].isnull().sum()

(1, 1)

In [166]:
df_6['Cablemodem'].isna().sum(), df_6['Cablemodem'].isnull().sum()

(1, 1)

In [165]:
df_6['Fibra óptica'].isna().sum(), df_6['Fibra óptica'].isnull().sum()

(1, 1)

In [164]:
df_6['Wireless'].isna().sum(), df_6['Wireless'].isnull().sum()

(1, 1)

In [163]:
df_6['Otros'].isna().sum(), df_6['Otros'].isnull().sum()

(1, 1)

In [162]:
df_6['Total'].isna().sum(), df_6['Total'].isnull().sum()

(1, 1)

Como había 1 solo nulo para casi todas las columnas, sospeché que iba a ser la misma fila. Pero cuando lo verifiqué confirmé la sospecha. Hay una fila sin valores útiles. La voy a borrar.

In [174]:
filas_con_nulos = df_6[df_6['Total'].isnull()]
filas_con_nulos

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
864,*,Los datos provinciales no coinciden a nivel na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [176]:
df_6 = df_6.dropna()

In [178]:
df_6.head()

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,4,Buenos Aires,326.0,3.0,1.0,130.0,72.0,5.0
1,2022,4,Capital Federal,139.0,1.0,139.0,5.0,32.0,2.0
2,2022,4,Catamarca,9.0,11.0,47.0,1.0,2.0,71.0
3,2022,4,Chaco,25.0,61.0,47.0,8.0,3.0,144.0
4,2022,4,Chubut,45.0,74.0,10.0,31.0,9.0,169.0

Hay muchas columnas con valores tipo float. Quiero ver si los tengo que cambiar o hace falta realmente que se queden como float. Para esto me fijo si hay valores que no sean 0.

In [263]:
decimales_ADSL = df_6[df_6['ADSL'] % 1 != 0]

In [264]:
decimales_ADSL

Empty DataFrame
Columns: [Año, Trimestre, Provincia, ADSL, Cablemodem, Fibra óptica, Wireless, Otros, Total]
Index: []

In [186]:
decimales_Cablemodem = df_6[df_6['Cablemodem'] % 1 != 0]
decimales_Cablemodem

Empty DataFrame
Columns: [Año, Trimestre, Provincia, ADSL, Cablemodem, Fibra óptica, Wireless, Otros, Total]
Index: []

In [187]:
decimales_Fibra = df_6[df_6['Fibra óptica'] % 1 != 0]
decimales_Fibra

Empty DataFrame
Columns: [Año, Trimestre, Provincia, ADSL, Cablemodem, Fibra óptica, Wireless, Otros, Total]
Index: []

In [188]:
decimales_Wireless = df_6[df_6['Wireless'] % 1 != 0]
decimales_Wireless

Empty DataFrame
Columns: [Año, Trimestre, Provincia, ADSL, Cablemodem, Fibra óptica, Wireless, Otros, Total]
Index: []

In [189]:
decimales_Otros = df_6[df_6['Otros'] % 1 != 0]
decimales_Otros

Empty DataFrame
Columns: [Año, Trimestre, Provincia, ADSL, Cablemodem, Fibra óptica, Wireless, Otros, Total]
Index: []

In [190]:
decimales_Total = df_6[df_6['Total'] % 1 != 0]
decimales_Total

Empty DataFrame
Columns: [Año, Trimestre, Provincia, ADSL, Cablemodem, Fibra óptica, Wireless, Otros, Total]
Index: []

In [192]:
df_6['ADSL'] = df_6['ADSL'].astype(int)
df_6['Cablemodem'] = df_6['Cablemodem'].astype(int)
df_6['Fibra óptica'] = df_6['Fibra óptica'].astype(int)
df_6['Wireless'] = df_6['Wireless'].astype(int)
df_6['Otros'] = df_6['Otros'].astype(int)
df_6['Total'] = df_6['Total'].astype(int)

In [270]:
df_6.head()

,anio,trimestre,provincia,adsl,cablemodem,fibra_optica,wireless,otros,total
0,2022,4,buenos aires,326,3,1,130,72,5
1,2022,4,capital federal,139,1,139,5,32,2
2,2022,4,catamarca,9,11,47,1,2,71
3,2022,4,chaco,25,61,47,8,3,144
4,2022,4,chubut,45,74,10,31,9,169

Cambiando nombres de las columnas

In [267]:
nuevas_columnas = {
    'Año': 'anio',
    'Trimestre': 'trimestre',
    'Provincia': 'provincia',
    'ADSL': 'adsl',
    'Cablemodem': 'cablemodem',
    'Fibra óptica': 'fibra_optica',
    'Wireless': 'wireless',
    'Otros': 'otros',
    'Total': 'total'
}
df_6.rename(columns=nuevas_columnas, inplace=True)

Normalizando el texto de los datos

In [269]:
import unicodedata

for column in df_6.columns:
    if df_6[column].dtype == 'object':
        df_6[column] = df_6[column].str.lower().apply(lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode('utf-8'))

In [520]:
df_6.to_csv('df_6.csv', index=False)

# Df_8

In [22]:
import pandas as pd

In [23]:
ruta8 = 'Data/data_8.csv'

In [24]:
df_8 = pd.read_csv(ruta8)

In [299]:
df_8.head()

   anio  trimestre  mbps_media_de_bajada        periodo
0  2022          4                10.656   oct-dic 2022
1  2022          3                 6.246  jul-sept 2022
2  2022          2                 5.844   abr-jun 2022
3  2022          1                 5.511   ene-mar 2022
4  2021          4                 5.234   oct-dic 2021

In [294]:
df_8.dtypes

Año                         int64
Trimestre                   int64
Mbps (Media de bajada)    float64
Trimestre.1                object
dtype: object

Bsucando valores nulos

In [25]:
df_8.isna().sum(), df_8.isnull().sum()

(Año                       0
 Trimestre                 0
 Mbps (Media de bajada)    0
 Trimestre.1               0
 dtype: int64,
 Año                       0
 Trimestre                 0
 Mbps (Media de bajada)    0
 Trimestre.1               0
 dtype: int64)

No hay datos nulos.

Cambiando nombres de las columnas

In [297]:
nuevas_columnas = {
    'Año': 'anio',
    'Trimestre': 'trimestre',
    'Mbps (Media de bajada)': 'mbps_media_de_bajada',
    'Trimestre.1': 'periodo'
}
df_8.rename(columns=nuevas_columnas, inplace=True)

Normalizando el texto de los datos

In [298]:
import unicodedata

for column in df_8.columns:
    if df_8[column].dtype == 'object':
        df_8[column] = df_8[column].str.lower().apply(lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode('utf-8'))

In [519]:
df_8.to_csv('df_8.csv', index=False)

# Df_9

In [27]:
import pandas as pd

In [28]:
ruta9 = 'Data/data_9.csv'

In [29]:
df_9 = pd.read_csv(ruta9)

In [303]:
df_9.head()

    Año  Trimestre        Provincia  Mbps (Media de bajada)
0  2022          4     Buenos Aires                 111.000
1  2022          4  Capital Federal                  18.286
2  2022          4        Catamarca                   8.333
3  2022          4            Chaco                  10.402
4  2022          4           Chubut                   1.592

In [304]:
df_9.shape

(864, 4)

In [306]:
df_9.dtypes

Año                         int64
Trimestre                   int64
Provincia                  object
Mbps (Media de bajada)    float64
dtype: object

In [30]:
df_9.isna().sum(), df_9.isnull().sum()

(Año                       0
 Trimestre                 0
 Provincia                 0
 Mbps (Media de bajada)    0
 dtype: int64,
 Año                       0
 Trimestre                 0
 Provincia                 0
 Mbps (Media de bajada)    0
 dtype: int64)

In [311]:
nuevas_columnas = {
    'Año': 'anio',
    'Trimestre': 'trimestre',
    'Provincia': 'provincia',
    'Mbps (Media de bajada)': 'mbps_media_de_bajada'
}
df_9.rename(columns=nuevas_columnas, inplace=True)

In [313]:
import unicodedata

for column in df_9.columns:
    if df_9[column].dtype == 'object':
        df_9[column] = df_9[column].str.lower().apply(lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode('utf-8'))

In [315]:
df_9.head()

   anio  trimestre        provincia  mbps_media_de_bajada
0  2022          4     buenos aires               111.000
1  2022          4  capital federal                18.286
2  2022          4        catamarca                 8.333
3  2022          4            chaco                10.402
4  2022          4           chubut                 1.592

In [317]:
df_9['mbps_media_de_bajada'][df_9['mbps_media_de_bajada'] > 110]

0      111.0
10     191.0
20     903.0
21     344.0
48     655.0
       ...
859    332.0
860    315.0
861    295.0
862    345.0
863    321.0
Name: mbps_media_de_bajada, Length: 507, dtype: float64

In [518]:
df_9.to_csv('df_9.csv', index=False)

# Df_10

In [318]:
import pandas as pd

In [319]:
ruta10 = 'Data/data_10.csv'

In [320]:
df_10 = pd.read_csv(ruta10)

In [321]:
df_10.head()

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
0,2022,4,31.981,85.668,1.075.272,1.109.421,765.015,335.573,7.410.902,394.282,11.208.114
1,2022,3,33.013,96.727,1.161.370,1.151.906,823.505,479.822,6.995.750,349.035,11.091.128
2,2022,2,33.667,99.498,1.193.090,1.197.030,856.562,485.321,6.741.922,351.594,10.958.684
3,2022,1,34.890,104.840,1.263.273,1.209.148,967.508,509.830,6.336.187,198.333,10.624.009
4,2021,4,41.262,28.521,1.413.208,1.245.333,976.539,558.358,6.032.322,194.251,10.489.794

In [323]:
df_10.dtypes

Año                          int64
Trimestre                    int64
Hasta 512 kbps             float64
Entre 512 Kbps y 1 Mbps    float64
Entre 1 Mbps y 6 Mbps       object
Entre 6 Mbps y 10 Mbps      object
Entre 10 Mbps y 20 Mbps     object
Entre 20 Mbps y 30 Mbps     object
Más de 30 Mbps              object
OTROS                      float64
Total                       object
dtype: object

In [327]:
df_10.shape

(36, 11)

In [329]:
df_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      36 non-null     int64
 1   Trimestre                36 non-null     int64
 2   Hasta 512 kbps           36 non-null     float64
 3   Entre 512 Kbps y 1 Mbps  36 non-null     float64
 4   Entre 1 Mbps y 6 Mbps    36 non-null     object
 5   Entre 6 Mbps y 10 Mbps   36 non-null     object
 6   Entre 10 Mbps y 20 Mbps  36 non-null     object
 7   Entre 20 Mbps y 30 Mbps  36 non-null     object
 8   Más de 30 Mbps           36 non-null     object
 9   OTROS                    36 non-null     float64
 10  Total                    36 non-null     object
dtypes: float64(3), int64(2), object(6)
memory usage: 3.2+ KB

In [330]:
df_10.describe()

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,OTROS
count,36.000000,36.000000,36.000000,36.000000,36.000000
mean,2018.000000,2.500000,49.571639,239.046083,126.059500
std,2.618615,1.133893,52.406959,198.205545,120.429286
min,2014.000000,1.000000,5.675000,28.521000,0.000000
25%,2016.000000,1.750000,28.412500,74.491750,0.000000
50%,2018.000000,2.500000,38.879500,216.701500,155.810000
75%,2020.000000,3.250000,41.184000,389.368250,199.011250
max,2022.000000,4.000000,241.713000,687.619000,394.282000

In [339]:
df_10.head(10)

,anio,trimestre,hasta_512_kbps,entre_512_kbps_y_1_mbps,entre_1_y_6_mbps,entre_6_y_10_mbps,entre_10_y_20_mbps,entre_20_y_30_mbps,mas_de_30_mbps,otros,total
0,2022,4,31.981,85.668,1.075.272,1.109.421,765.015,335.573,7.410.902,394.282,11.208.114
1,2022,3,33.013,96.727,1.161.370,1.151.906,823.505,479.822,6.995.750,349.035,11.091.128
2,2022,2,33.667,99.498,1.193.090,1.197.030,856.562,485.321,6.741.922,351.594,10.958.684
3,2022,1,34.890,104.840,1.263.273,1.209.148,967.508,509.830,6.336.187,198.333,10.624.009
4,2021,4,41.262,28.521,1.413.208,1.245.333,976.539,558.358,6.032.322,194.251,10.489.794
5,2021,3,40.174,41.437,2.550.229,1.095.772,710.122,536.364,4.948.174,163.269,10.085.541
6,2021,2,40.172,42.024,2.531.271,1.080.279,693.277,647.401,4.661.291,167.369,9.863.084
7,2021,1,39.487,41.674,2.593.477,1.072.722,737.930,595.920,4.379.965,186.797,9.647.972
8,2020,4,39.510,42.185,2.622.638,1.073.875,786.595,582.420,4.239.237,185.102,9.571.562
9,2020,3,41.038,44.005,2.637.984,1.040.017,799.350,538.567,4.053.461,201.777,9.356.199

In [338]:
nuevas_columnas = {
    'Año': 'anio',
    'Trimestre': 'trimestre',
    'Hasta 512 kbps': 'hasta_512_kbps',
    'Entre 512 Kbps y 1 Mbps': 'entre_512_kbps_y_1_mbps',
    'Entre 1 Mbps y 6 Mbps': 'entre_1_y_6_mbps',
    'Entre 6 Mbps y 10 Mbps': 'entre_6_y_10_mbps',
    'Entre 10 Mbps y 20 Mbps': 'entre_10_y_20_mbps',
    'Entre 20 Mbps y 30 Mbps': 'entre_20_y_30_mbps',
    'Más de 30 Mbps': 'mas_de_30_mbps',
    'OTROS': 'otros',
    'Total': 'total'
}
df_10.rename(columns=nuevas_columnas, inplace=True)

In [517]:
df_10.to_csv('df_10.csv', index=False)

# Df_11

In [ ]:
import pandas as pd

In [335]:
ruta11 = 'Data/data_11.csv'

In [336]:
df_11 = pd.read_csv(ruta11)

In [337]:
df_11.head()

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,4,Buenos Aires,28.934,23.347,259.866,281.550,244.555,98.670,3.760.109,97.634,4.794.665
1,2022,4,Capital Federal,516.000,5.096,31.320,64.653,36.336,8.116,1.299.117,106.772,1.551.926
2,2022,4,Catamarca,71.000,315.000,2.716,5.028,4.638,3.122,52.739,2.280,70.909
3,2022,4,Chaco,461.000,771.000,16.067,17.846,6.704,3.039,94.866,3.909,143.663
4,2022,4,Chubut,109.000,1.614,46.457,31.007,34.728,15.770,19.048,20.026,168.759

In [345]:
df_11.dtypes

Año                      int64
Trimestre                int64
Provincia               object
HASTA 512 kbps         float64
+ 512 Kbps - 1 Mbps    float64
+ 1 Mbps - 6 Mbps       object
+ 6 Mbps - 10 Mbps     float64
+ 10 Mbps - 20 Mbps    float64
+ 20 Mbps - 30 Mbps    float64
+ 30 Mbps               object
OTROS                  float64
Total                   object
dtype: object

In [346]:
df_11.shape

(864, 12)

In [347]:
df_11.describe()

,Año,Trimestre,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,OTROS
count,864.000000,864.000000,864.000000,864.000000,864.000000,864.000000,864.000000,858.000000
mean,2018.000000,2.500000,126.069829,104.202722,70.717505,78.652155,99.993059,34.439517
std,2.583484,1.118682,186.417712,211.789353,138.831868,168.570068,207.349280,133.288022
min,2014.000000,1.000000,1.007000,0.000000,0.000000,0.000000,0.000000,-1.945000
25%,2016.000000,1.750000,11.000000,3.310750,5.410250,5.000000,2.091000,0.000000
50%,2018.000000,2.500000,51.000000,8.762000,20.208000,15.159000,11.042500,0.000000
75%,2020.000000,3.250000,133.250000,85.525500,61.934500,51.959500,64.286250,7.939750
max,2022.000000,4.000000,998.000000,999.000000,917.000000,978.000000,997.000000,989.000000

In [343]:
df_11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  864 non-null    int64
 1   Trimestre            864 non-null    int64
 2   Provincia            864 non-null    object
 3   HASTA 512 kbps       864 non-null    float64
 4   + 512 Kbps - 1 Mbps  864 non-null    float64
 5   + 1 Mbps - 6 Mbps    864 non-null    object
 6   + 6 Mbps - 10 Mbps   864 non-null    float64
 7   + 10 Mbps - 20 Mbps  864 non-null    float64
 8   + 20 Mbps - 30 Mbps  864 non-null    float64
 9   + 30 Mbps            864 non-null    object
 10  OTROS                858 non-null    float64
 11  Total                864 non-null    object
dtypes: float64(6), int64(2), object(4)
memory usage: 81.1+ KB

No hay nulos, así que voy a continuar con cambiarle el nombre a las columnas

In [359]:
df_11.head()

,anio,trimestre,provincia,hasta_512_kbps,entre_512_kbps_y_1_mbps,entre_1_mbps_y_6_mbps,entre_6_mbps_y_10_mbps,entre_10_mbps_y_20_mbps,entre_20_mbps_y_30_mbps,mas_de_30_mbps,otros,total
0,2022,4,buenos aires,28.934,23.347,259.866,281.550,244.555,98.670,3.760.109,97.634,4.794.665
1,2022,4,capital federal,516.000,5.096,31.320,64.653,36.336,8.116,1.299.117,106.772,1.551.926
2,2022,4,catamarca,71.000,315.000,2.716,5.028,4.638,3.122,52.739,2.280,70.909
3,2022,4,chaco,461.000,771.000,16.067,17.846,6.704,3.039,94.866,3.909,143.663
4,2022,4,chubut,109.000,1.614,46.457,31.007,34.728,15.770,19.048,20.026,168.759

In [356]:
nuevas_columnas = {
    'Año': 'anio',
    'Trimestre': 'trimestre',
    'mbps_media_de_bajada': 'provincia',
    'HASTA 512 kbps': 'hasta_512_kbps',
    '+ 512 Kbps - 1 Mbps': 'entre_512_kbps_y_1_mbps',
    '+ 1 Mbps - 6 Mbps': 'entre_1_mbps_y_6_mbps',
    '+ 6 Mbps - 10 Mbps': 'entre_6_mbps_y_10_mbps',
    '+ 10 Mbps - 20 Mbps': 'entre_10_mbps_y_20_mbps',
    '+ 20 Mbps - 30 Mbps': 'entre_20_mbps_y_30_mbps',
    '+ 30 Mbps': 'mas_de_30_mbps',
    'OTROS': 'otros',
    'Total': 'total'    
}
df_11.rename(columns=nuevas_columnas, inplace=True)

Normalizando el texto del dataframe:

In [358]:
import unicodedata

for column in df_11.columns:
    if df_11[column].dtype == 'object':
        df_11[column] = df_11[column].str.lower().apply(lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode('utf-8'))

In [516]:
df_11.to_csv('df_11.csv', index=False)

# Df_12

In [2]:
import pandas as pd

In [3]:
ruta12 = 'Data/data_12.csv'

In [4]:
df_12 = pd.read_csv(ruta12)

In [20]:
df_12.head()

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,63 Mbps,64 Mbps,65 Mbps,66 Mbps,67 Mbps,68 Mbps,70 Mbps,71 Mbps,75 Mbps,77 Mbps
0,entre_1_mbps_y_6_mbps,hasta_512_kbps,buenos aires,97.634,18,0,0,28.724,192,4.611,...,0,0,14,0,0,0,5.655,0,90.796,0
1,entre_1_mbps_y_6_mbps,hasta_512_kbps,capital federal,106.772,31,0,0,451.000,34,1.307,...,0,0,0,1,0,0,15,0,28.406,0
2,entre_1_mbps_y_6_mbps,hasta_512_kbps,catamarca,2.280,0,0,0,34.000,37,0,...,0,0,0,0,0,0,0,0,0,0
3,entre_1_mbps_y_6_mbps,hasta_512_kbps,chaco,3.909,0,225,111,234.000,2,0,...,0,0,0,0,0,0,0,0,0,0
4,entre_1_mbps_y_6_mbps,hasta_512_kbps,chubut,20.026,8,0,0,69.000,32,836,...,0,0,0,0,0,0,0,0,0,0

In [364]:
df_12.dtypes

Año           float64
Trimestre     float64
Provincia      object
Otros          object
0,256 Mbps     object
               ...
68 Mbps        object
70 Mbps        object
71 Mbps        object
75 Mbps        object
77 Mbps        object
Length: 97, dtype: object

In [5]:
df_12.shape

(505, 97)

Es un dataframe con muchísimas columnas. Más abajo voy a tratar este problema.

In [367]:
df_12.describe()

               Año   Trimestre      0,5 Mbps        3 Mbps        10 Mbps
count   504.000000  504.000000    504.000000    504.000000     504.000000
mean   2019.857143    2.571429    135.160514    536.427409    1830.656857
std       1.522341    1.138019   1281.313402   3423.594162   13716.783075
min    2017.000000    1.000000      1.009000      1.029000       1.000000
25%    2019.000000    2.000000     19.000000      5.910000       7.161500
50%    2020.000000    3.000000     39.000000      9.833000      20.563500
75%    2021.000000    4.000000     69.000000     27.000000      92.386750
max    2022.000000    4.000000  28724.000000  53034.000000  204191.000000

In [6]:
df_12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 97 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Año         504 non-null    float64
 1   Trimestre   504 non-null    float64
 2   Provincia   504 non-null    object
 3   Otros       504 non-null    object
 4   0,256 Mbps  504 non-null    object
 5   0,375 Mbps  504 non-null    object
 6   0,625 Mbps  504 non-null    object
 7   0,5 Mbps    504 non-null    float64
 8   0,512 Mbps  504 non-null    object
 9   0,75 Mbps   504 non-null    object
 10  1 Mbps      504 non-null    object
 11  1,2 Mbps    504 non-null    object
 12  1,25 Mbps   504 non-null    object
 13  1,5 Mbps    504 non-null    object
 14  2 Mbps      504 non-null    object
 15  2,2 Mbps    504 non-null    object
 16  2,5 Mbps    505 non-null    object
 17  6,7 Mbps    504 non-null    object
 18  3 Mbps      504 non-null    float64
 19  3,2 Mbps    504 non-null    object
 20  3,3 Mbps    504 non-null    object
 21  3,5 Mbps    504 non-null    object
 22  4 Mbps      504 non-null    object
 23  4,5 Mbps    504 non-null    object
 24  5 Mbps      504 non-null    object
 25  6 Mbps      504 non-null    object
 26  6,4 Mbps    504 non-null    object
 27  7 Mbps      504 non-null    object
 28  7,5 Mbps    504 non-null    object
 29  8 Mbps      504 non-null    object
 30  9 Mbps      504 non-null    object
 31  10 Mbps     504 non-null    float64
 32  10,2 Mbps   504 non-null    object
 33  10,6 Mbps   504 non-null    object
 34  11 Mbps     504 non-null    object
 35  12 Mbps     504 non-null    object
 36  12,3 Mbps   504 non-null    object
 37  13 Mbps     504 non-null    object
 38  14 Mbps     504 non-null    object
 39  15 Mbps     504 non-null    object
 40  16 Mbps     504 non-null    object
 41  17 Mbps     504 non-null    object
 42  18 Mbps     504 non-null    object
 43  19 Mbps     504 non-null    object
 44  20 Mbps     504 non-null    object
 45  20,5 Mbps   504 non-null    object
 46  21 Mbps     504 non-null    object
 47  22 Mbps     504 non-null    object
 48  23 Mbps     504 non-null    object
 49  24 Mbps     504 non-null    object
 50  25 Mbps     504 non-null    object
 51  25,1 Mbps   504 non-null    object
 52  25,11 Mbps  504 non-null    object
 53  25,5 Mbps   504 non-null    object
 54  26 Mbps     504 non-null    object
 55  27 Mbps     504 non-null    object
 56  28 Mbps     504 non-null    object
 57  29 Mbps     504 non-null    object
 58  30 Mbps     504 non-null    object
 59  31 Mbps     504 non-null    object
 60  32 Mbps     504 non-null    object
 61  34 Mbps     504 non-null    object
 62  35 Mbps     504 non-null    object
 63  36 Mbps     504 non-null    object
 64  37 Mbps     504 non-null    object
 65  38 Mbps     504 non-null    object
 66  39 Mbps     504 non-null    object
 67  40 Mbps     504 non-null    object
 68  41 Mbps     504 non-null    object
 69  45 Mbps     504 non-null    object
 70  46 Mbps     504 non-null    object
 71  47 Mbps     504 non-null    object
 72  48 Mbps     504 non-null    object
 73  49 Mbps     504 non-null    object
 74  50 Mbps     504 non-null    object
 75  50,1 Mbps   504 non-null    object
 76  51 Mbps     504 non-null    object
 77  50,25 Mbps  504 non-null    object
 78  52 Mbps     504 non-null    object
 79  54 Mbps     504 non-null    object
 80  55 Mbps     504 non-null    object
 81  56 Mbps     504 non-null    object
 82  58 Mbps     504 non-null    object
 83  59 Mbps     504 non-null    object
 84  60 Mbps     504 non-null    object
 85  61 Mbps     504 non-null    object
 86  62 Mbps     504 non-null    object
 87  63 Mbps     504 non-null    object
 88  64 Mbps     504 non-null    object
 89  65 Mbps     504 non-null    object
 90  66 Mbps     504 non-null    object
 91  67 Mbps     504 non-null    object
 92  68 Mbps     504 non-null    object
 93  70 Mbps     504 non-null    object
 94  71 Mbps     504 non-null    object
 95  75 Mbps     504 non-null    object
 96  77 Mbps     504 non-null    object
dtypes: float64(5), object(92)
memory usage: 382.8+ KB

Parece que hay al menos un valor nulo. Sospecho que es el mismo para todas las columnas. Voy a revisarlo y eliminarlo/s

In [7]:
df_12 = df_12.dropna(subset=['3 Mbps'])

In [27]:
df_12.head(10)

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,71 Mbps,75 Mbps,77 Mbps,hasta_512_kbps,entre_512_kbps_y_1_mbps,entre_1_mbps_y_6_mbps,entre_6_mbps_y_10_mbps,entre_10_mbps_y_20_mbps,entre_20_mbps_y_30_mbps,mas_de_30_mbps
0,NaN,NaN,buenos aires,97.634,18,0,0,28.724,192,4.611,...,0,90.796,0,46.724,196.611,414.140,1673.088,999.744,1062.938,2853.689
1,NaN,NaN,capital federal,106.772,31,0,0,451.000,34,1.307,...,0,28.406,0,482.000,35.307,1299.755,37.729,99.683,68.793,447.095
2,NaN,NaN,catamarca,2.280,0,0,0,34.000,37,0.000,...,0,0.000,0,34.000,37.000,1480.000,2.551,1154.027,899.717,923.388
3,NaN,NaN,chaco,3.909,0,225,111,234.000,2,0.000,...,0,0.000,0,459.000,113.000,2024.497,816.213,156.845,753.062,48.841
4,NaN,NaN,chubut,20.026,8,0,0,69.000,32,836.000,...,0,0.000,0,77.000,868.000,808.726,334.377,84.177,18.332,185.008
5,NaN,NaN,cordoba,17.610,2,0,0,87.000,10,83.000,...,0,54.000,0,89.000,93.000,265.804,98.859,527.647,197.610,527.802
6,NaN,NaN,corrientes,7.998,0,0,0,10.000,57,118.000,...,0,0.000,0,10.000,175.000,496.027,13.888,25.155,432.501,30.196
7,NaN,NaN,entre rios,0.000,1,0,0,20.000,86,113.000,...,0,0.000,0,21.000,199.000,418.217,25.170,52.646,794.182,106.775
8,NaN,NaN,formosa,698.000,0,0,0,49.000,35,0.000,...,0,0.000,0,49.000,35.000,262.026,250.432,53.472,319.358,1286.000
9,NaN,NaN,jujuy,0.000,0,0,0,26.000,32,0.000,...,0,0.000,0,26.000,32.000,15.838,15.691,682.440,347.290,340.579

In [22]:
type(df_12['0,256 Mbps'][0])

str

In [558]:
df_12.columns

Index(['Año', 'Trimestre', 'Provincia', 'Otros', '0,256 Mbps', '0,375 Mbps',
       '0,625 Mbps', '0,5 Mbps', '0,512 Mbps', '0,75 Mbps', '1 Mbps',
       '1,2 Mbps', '1,25 Mbps', '1,5 Mbps', '2 Mbps', '2,2 Mbps', '2,5 Mbps',
       '6,7 Mbps', '3 Mbps', '3,2 Mbps', '3,3 Mbps', '3,5 Mbps', '4 Mbps',
       '4,5 Mbps', '5 Mbps', '6 Mbps', '6,4 Mbps', '7 Mbps', '7,5 Mbps',
       '8 Mbps', '9 Mbps', '10 Mbps', '10,2 Mbps', '10,6 Mbps', '11 Mbps',
       '12 Mbps', '12,3 Mbps', '13 Mbps', '14 Mbps', '15 Mbps', '16 Mbps',
       '17 Mbps', '18 Mbps', '19 Mbps', '20 Mbps', '20,5 Mbps', '21 Mbps',
       '22 Mbps', '23 Mbps', '24 Mbps', '25 Mbps', '25,1 Mbps', '25,11 Mbps',
       '25,5 Mbps', '26 Mbps', '27 Mbps', '28 Mbps', '29 Mbps', '30 Mbps',
       '31 Mbps', '32 Mbps', '34 Mbps', '35 Mbps', '36 Mbps', '37 Mbps',
       '38 Mbps', '39 Mbps', '40 Mbps', '41 Mbps', '45 Mbps', '46 Mbps',
       '47 Mbps', '48 Mbps', '49 Mbps', '50 Mbps', '50,1 Mbps', '51 Mbps',
       '50,25 Mbps', '52 Mbps', '54 Mbps', '55 Mbps', '56 Mbps', '58 Mbps',
       '59 Mbps', '60 Mbps', '61 Mbps', '62 Mbps', '63 Mbps', '64 Mbps',
       '65 Mbps', '66 Mbps', '67 Mbps', '68 Mbps', '70 Mbps', '71 Mbps',
       '75 Mbps', '77 Mbps'],
      dtype='object')

Voy a limpiar el df de '-', mayusculas y demás caracteres para poder seguir con el procedimiento de limpieza

In [9]:
import unicodedata

for column in df_12.columns:
    if df_12[column].dtype == 'object':
        df_12[column] = df_12[column].str.lower().apply(lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode('utf-8'))

Reemplacé todos los '- 0' por 0 para poder convertir todo a float.

In [10]:
df_12 = df_12.replace('- 0', '0')

In [26]:
type(df_12['0,256 Mbps'][0])

numpy.int64

Como tengo tantas columnas, las quiero categorizar siguiendo la misma linea de dfs anterior con datos parecidos, pero para esto tengo que cambiar el tipo de dato de todas las columnas que quiero transformar a float.

In [23]:
for col in df_12.columns:
    if col != 'Provincia':
        df_12[col] = pd.to_numeric(df_12[col], errors='coerce')

In [35]:
df_12.head(1)

,Año,Trimestre,Provincia,Otros,hasta_512_kbps,entre_512_kbps_y_1_mbps,entre_1_mbps_y_6_mbps,entre_6_mbps_y_10_mbps,entre_10_mbps_y_20_mbps,entre_20_mbps_y_30_mbps,mas_de_30_mbps
0,NaN,NaN,buenos aires,97.634,46.724,196.611,414.14,1673.088,999.744,1062.938,2853.689

Creo las categorías (rangos) para las columnas, ya que éstas tienen valores muy específicos.

In [ ]:
df_12['hasta_512_kbps'] = df_12['0,256 Mbps'] + df_12['0,375 Mbps'] + df_12['0,5 Mbps']
df_12['entre_512_kbps_y_1_mbps'] = df_12['0,512 Mbps'] + df_12['0,625 Mbps'] + df_12['0,75 Mbps']
df_12['entre_1_mbps_y_6_mbps'] = df_12['1 Mbps'] + df_12['1,25 Mbps'] + df_12['1,5 Mbps'] + df_12['2 Mbps'] + df_12['2,2 Mbps'] + df_12['2,5 Mbps'] + df_12['3 Mbps'] + df_12['3,2 Mbps'] + df_12['3,3 Mbps'] + df_12['3,5 Mbps']  + df_12['4 Mbps'] + df_12['4,5 Mbps']  + df_12['5 Mbps']
df_12['entre_6_mbps_y_10_mbps'] =  df_12['6 Mbps'] + df_12['6,4 Mbps'] + df_12['6,7 Mbps'] + df_12['7 Mbps'] + df_12['7,5 Mbps'] + df_12['8 Mbps'] + df_12['9 Mbps']
df_12['entre_10_mbps_y_20_mbps'] =  df_12['10 Mbps'] + df_12['10,2 Mbps'] + df_12['10,6 Mbps'] + df_12['11 Mbps'] + df_12['12 Mbps'] + df_12['12,3 Mbps'] + df_12['13 Mbps'] + df_12['14 Mbps'] + df_12['15 Mbps'] + df_12['16 Mbps'] + df_12['17 Mbps'] + df_12['18 Mbps'] + df_12['19 Mbps']
df_12['entre_20_mbps_y_30_mbps'] = df_12['20 Mbps'] + df_12['20,5 Mbps'] + df_12['21 Mbps'] + df_12['22 Mbps'] + df_12['23 Mbps'] + df_12['24 Mbps'] + df_12['25 Mbps'] + df_12['25,1 Mbps'] + df_12['25,11 Mbps'] + df_12['25,5 Mbps'] + df_12['26 Mbps'] + df_12['27 Mbps'] + df_12['28 Mbps'] + df_12['29 Mbps'] + df_12['30 Mbps']
df_12['mas_de_30_mbps'] = df_12['30 Mbps'] + df_12['31 Mbps'] + df_12['32 Mbps'] + df_12['34 Mbps'] +df_12['35 Mbps'] + df_12['36 Mbps'] + df_12['37 Mbps'] + df_12['38 Mbps'] + df_12['39 Mbps'] + df_12['40 Mbps'] + df_12['41 Mbps'] + df_12['45 Mbps'] + df_12['46 Mbps'] + df_12['47 Mbps'] + df_12['48 Mbps'] + df_12['49 Mbps'] + df_12['50 Mbps'] + df_12['50,1 Mbps'] + df_12['50,25 Mbps'] + df_12['51 Mbps'] + df_12['52 Mbps'] + df_12['54 Mbps'] + df_12['55 Mbps'] + df_12['56 Mbps'] + df_12['58 Mbps'] + df_12['59 Mbps'] + df_12['60 Mbps'] + df_12['61 Mbps'] + df_12['62 Mbps'] + df_12['63 Mbps'] + df_12['64 Mbps'] + df_12['65 Mbps'] + df_12['66 Mbps'] + df_12['67 Mbps'] + df_12['68 Mbps'] + df_12['70 Mbps'] + df_12['71 Mbps'] + df_12['75 Mbps'] + df_12['77 Mbps']

In [ ]:
columnas = ['Año', 'Trimestre', 'Provincia', 'Otros', 'hasta_512_kbps', 'entre_512_kbps_y_1_mbps', 'entre_1_mbps_y_6_mbps', 'entre_6_mbps_y_10_mbps', 'entre_10_mbps_y_20_mbps', 'entre_20_mbps_y_30_mbps', 'mas_de_30_mbps']
df_12 = df_12[columnas]

In [36]:
df_12.to_csv('df_12.csv', index=False)

# Df_13

In [ ]:
import pandas as pd

In [420]:
ruta13 = 'Data/data_13.csv'

In [421]:
df_13 = pd.read_csv(ruta13)

In [422]:
df_13.head()

    Año  Trimestre  Ingresos (miles de pesos)        Periodo
0  2022          4                         72   Oct-Dic 2022
1  2022          3                         64  Jul-Sept 2022
2  2022          2                         60   Abr-Jun 2022
3  2022          1                         55   Ene-Mar 2022
4  2021          4                         45   Oct-Dic 2021

In [423]:
df_13.dtypes

Año                           int64
Trimestre                     int64
Ingresos (miles de pesos)     int64
Periodo                      object
dtype: object

In [424]:
df_13.shape

(36, 4)

In [425]:
df_13.describe()

               Año  Trimestre  Ingresos (miles de pesos)
count    36.000000  36.000000                  36.000000
mean   2018.000000   2.500000                  21.888889
std       2.618615   1.133893                  19.239510
min    2014.000000   1.000000                   3.000000
25%    2016.000000   1.750000                   6.750000
50%    2018.000000   2.500000                  14.500000
75%    2020.000000   3.250000                  32.500000
max    2022.000000   4.000000                  72.000000

In [426]:
df_13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        36 non-null     int64
 1   Trimestre                  36 non-null     int64
 2   Ingresos (miles de pesos)  36 non-null     int64
 3   Periodo                    36 non-null     object
dtypes: int64(3), object(1)
memory usage: 1.2+ KB

Ahora le voy a cambiar el nombre a las otras columnas.

In [429]:
nuevas_columnas = {
    'Año': 'anio',
    'Trimestre': 'trimestre',
    'Periodo': 'periodo'
}
df_13.rename(columns=nuevas_columnas, inplace=True)

In [433]:
import unicodedata

for column in df_13.columns:
    if df_13[column].dtype == 'object':
        df_13[column] = df_13[column].str.lower().apply(lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode('utf-8'))

In [515]:
df_13.to_csv('df_13.csv', index=False)

# Df_14

In [533]:
import pandas as pd

In [534]:
ruta14 = 'Data/data_14.csv'

In [535]:
df_14 = pd.read_csv(ruta14)

In [536]:
df_14.head()

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 Mbps","0,375 Mbps","0,5 Mbps","0,512 Mbps","0,625 Mbps",...,61 Mbps,62 Mbps,64 Mbps,65 Mbps,66 Mbps,70 Mbps,75 Mbps,78 Mbps,80 Mbps,83 Mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [537]:
df_14.dtypes

Provincia      object
Partido        object
Localidad      object
Link Indec     object
Otros         float64
               ...
70 Mbps       float64
75 Mbps       float64
78 Mbps       float64
80 Mbps       float64
83 Mbps       float64
Length: 83, dtype: object

In [557]:
df_14.describe()

,hasta_512_kbps,entre_512_kbps_y_1_mbps,entre_1_mbps_y_6_mbps,entre_6_mbps_y_10_mbps,entre_10_mbps_y_20_mbps,entre_20_mbps_y_30_mbps,mas_de_30_mbps
count,3095.000000,3095.000000,3095.000000,3095.000000,3095.000000,3095.000000,3095.000000
mean,0.964416,3.620778,129.394839,87.732748,125.712325,55.002376,78.700145
std,10.941770,29.989429,275.478615,190.994871,240.372182,162.342555,232.103555
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,12.000000,2.000000,8.000000,0.000000,0.000000
75%,0.000000,0.000000,118.500000,71.500000,125.292500,18.000000,3.000000
max,482.000000,909.000000,2910.025000,1878.000000,1836.298000,1735.406000,2534.000000

In [539]:
df_14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 83 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Provincia   3095 non-null   object
 1   Partido     3095 non-null   object
 2   Localidad   3095 non-null   object
 3   Link Indec  3095 non-null   object
 4   Otros       962 non-null    float64
 5   0,256 Mbps  28 non-null     float64
 6   0,375 Mbps  1 non-null      float64
 7   0,5 Mbps    643 non-null    float64
 8   0,512 Mbps  523 non-null    float64
 9   0,625 Mbps  1 non-null      float64
 10  0,75 Mbps   284 non-null    float64
 11  1 Mbps      891 non-null    float64
 12  1,25 Mbps   1 non-null      float64
 13  1,5 Mbps    15 non-null     float64
 14  2 Mbps      722 non-null    float64
 15  2,2 Mbps    1 non-null      float64
 16  2,5 Mbps    4 non-null      float64
 17  3 Mbps      1351 non-null   float64
 18  3,3 Mbps    1 non-null      float64
 19  3,5 Mbps    373 non-null    float64
 20  4 Mbps      534 non-null    float64
 21  4,5 Mbps    1 non-null      float64
 22  5 Mbps      1003 non-null   float64
 23  6 Mbps      1413 non-null   float64
 24  6,4 Mbps    1 non-null      float64
 25  7 Mbps      225 non-null    float64
 26  7,5 Mbps    4 non-null      float64
 27  8 Mbps      630 non-null    float64
 28  9 Mbps      50 non-null     float64
 29  10 Mbps     1731 non-null   float64
 30  10,2 Mbps   1 non-null      float64
 31  11 Mbps     27 non-null     float64
 32  12 Mbps     306 non-null    float64
 33  12,3 Mbps   1 non-null      float64
 34  13 Mbps     16 non-null     float64
 35  14 Mbps     24 non-null     float64
 36  15 Mbps     1061 non-null   float64
 37  16 Mbps     16 non-null     float64
 38  17 Mbps     1 non-null      float64
 39  18 Mbps     20 non-null     float64
 40  20 Mbps     1106 non-null   float64
 41  20,5 Mbps   1 non-null      float64
 42  21 Mbps     5 non-null      float64
 43  22 Mbps     2 non-null      float64
 44  23 Mbps     2 non-null      float64
 45  24 Mbps     19 non-null     float64
 46  25 Mbps     457 non-null    float64
 47  25,1 Mbps   1 non-null      float64
 48  25,5 Mbps   1 non-null      float64
 49  26 Mbps     1 non-null      float64
 50  27 Mbps     1 non-null      float64
 51  30 Mbps     724 non-null    float64
 52  31 Mbps     4 non-null      float64
 53  32 Mbps     2 non-null      float64
 54  34 Mbps     1 non-null      float64
 55  35 Mbps     13 non-null     float64
 56  36 Mbps     3 non-null      float64
 57  38 Mbps     1 non-null      float64
 58  39 Mbps     1 non-null      float64
 59  40 Mbps     98 non-null     float64
 60  41 Mbps     1 non-null      float64
 61  45 Mbps     3 non-null      float64
 62  46 Mbps     1 non-null      float64
 63  48 Mbps     4 non-null      float64
 64  49 Mbps     1 non-null      float64
 65  50 Mbps     692 non-null    float64
 66  50,1 Mbps   1 non-null      float64
 67  50,25 Mbps  1 non-null      float64
 68  51 Mbps     2 non-null      float64
 69  55 Mbps     3 non-null      float64
 70  58 Mbps     1 non-null      float64
 71  59 Mbps     1 non-null      float64
 72  60 Mbps     261 non-null    float64
 73  61 Mbps     3 non-null      float64
 74  62 Mbps     1 non-null      float64
 75  64 Mbps     1 non-null      float64
 76  65 Mbps     2 non-null      float64
 77  66 Mbps     1 non-null      float64
 78  70 Mbps     17 non-null     float64
 79  75 Mbps     231 non-null    float64
 80  78 Mbps     1 non-null      float64
 81  80 Mbps     31 non-null     float64
 82  83 Mbps     1 non-null      float64
dtypes: float64(79), object(4)
memory usage: 2.0+ MB

In [540]:
import unicodedata

for column in df_14.columns:
    if df_14[column].dtype == 'object':
        df_14[column] = df_14[column].str.lower().apply(lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode('utf-8'))

In [551]:
df_14.head()

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 Mbps","0,375 Mbps","0,5 Mbps","0,512 Mbps","0,625 Mbps",...,78 Mbps,80 Mbps,83 Mbps,hasta_512_kbps,entre_512_kbps_y_1_mbps,entre_1_mbps_y_6_mbps,entre_6_mbps_y_10_mbps,entre_10_mbps_y_20_mbps,entre_20_mbps_y_30_mbps,mas_de_30_mbps
0,buenos aires,25 de mayo,25 de mayo,6854100,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,12.0,0.0,2.0,19.0,230.0,493.0,595.965,857.0,146.0
1,buenos aires,25 de mayo,agustin mosconi,6854010,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,46.0,13.000,0.0,0.0
2,buenos aires,25 de mayo,del valle,6854020,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,181.0,0.0,10.000,0.0,0.0
3,buenos aires,25 de mayo,ernestina,6854030,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,66.0,0.0,0.000,0.0,0.0
4,buenos aires,25 de mayo,gobernador ugarte,6854040,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,172.0,7.0,1.000,0.0,1.0

In [547]:
type(df_14['hasta_512_kbps'][0])

numpy.float64

Guardo las columnas que quiero conservar en una lista para asignar a mi nuevo DF.

In [552]:
columnas_14 = ['hasta_512_kbps', 'entre_512_kbps_y_1_mbps', 'entre_1_mbps_y_6_mbps', 'entre_6_mbps_y_10_mbps', 'entre_10_mbps_y_20_mbps', 'entre_20_mbps_y_30_mbps', 'mas_de_30_mbps']
df_14 = df_14[columnas_14]

In [553]:
df_14.head()

,hasta_512_kbps,entre_512_kbps_y_1_mbps,entre_1_mbps_y_6_mbps,entre_6_mbps_y_10_mbps,entre_10_mbps_y_20_mbps,entre_20_mbps_y_30_mbps,mas_de_30_mbps
0,2.0,19.0,230.0,493.0,595.965,857.0,146.0
1,0.0,0.0,0.0,46.0,13.000,0.0,0.0
2,1.0,0.0,181.0,0.0,10.000,0.0,0.0
3,0.0,0.0,66.0,0.0,0.000,0.0,0.0
4,0.0,0.0,172.0,7.0,1.000,0.0,1.0

Para poder sumar las columnas y así categorizarlas, tengo que pasar los valores Nan a 0.

In [548]:
for column in df_14.columns:
    df_14[column].fillna(0, inplace=True)

Creo las columnas nuevas categorizando las columnas anteriores.

In [550]:
df_14['hasta_512_kbps'] = df_14['0,256 Mbps'] + df_14['0,375 Mbps'] + df_14['0,5 Mbps']
df_14['entre_512_kbps_y_1_mbps'] = df_14['0,512 Mbps'] + df_14['0,625 Mbps'] + df_14['0,75 Mbps']
df_14['entre_1_mbps_y_6_mbps'] = df_14['1 Mbps'] + df_14['1,25 Mbps'] + df_14['1,5 Mbps'] + df_14['2 Mbps'] + df_14['2,2 Mbps'] + df_14['2,5 Mbps'] + df_14['3 Mbps'] + df_14['3,3 Mbps'] + df_14['3,5 Mbps']  + df_14['4 Mbps'] + df_14['4,5 Mbps']  + df_14['5 Mbps']
df_14['entre_6_mbps_y_10_mbps'] =  df_14['6 Mbps'] + df_14['6,4 Mbps'] + df_14['7 Mbps'] + df_14['7,5 Mbps'] + df_14['8 Mbps'] + df_14['9 Mbps']
df_14['entre_10_mbps_y_20_mbps'] =  df_14['10 Mbps'] + df_14['10,2 Mbps'] + df_14['11 Mbps'] + df_14['12 Mbps'] + df_14['12,3 Mbps'] + df_14['13 Mbps'] + df_14['14 Mbps'] + df_14['15 Mbps'] + df_14['16 Mbps'] + df_14['17 Mbps'] + df_14['18 Mbps']
df_14['entre_20_mbps_y_30_mbps'] = df_14['20 Mbps'] + df_14['20,5 Mbps'] + df_14['21 Mbps'] + df_14['22 Mbps'] + df_14['23 Mbps'] + df_14['24 Mbps'] + df_14['25 Mbps'] + df_14['25,1 Mbps'] + df_14['25,5 Mbps'] + df_14['26 Mbps'] + df_14['27 Mbps'] + df_14['30 Mbps']
df_14['mas_de_30_mbps'] = df_14['30 Mbps'] + df_14['31 Mbps'] + df_14['32 Mbps'] + df_14['34 Mbps'] +df_14['35 Mbps'] + df_14['36 Mbps'] + df_14['38 Mbps'] + df_14['39 Mbps'] + df_14['40 Mbps'] + df_14['41 Mbps'] + df_14['45 Mbps'] + df_14['46 Mbps'] + df_14['48 Mbps'] + df_14['49 Mbps'] + df_14['50 Mbps'] + df_14['50,1 Mbps'] + df_14['50,25 Mbps'] + df_14['51 Mbps'] + df_14['55 Mbps'] + df_14['58 Mbps'] + df_14['59 Mbps'] + df_14['60 Mbps'] + df_14['61 Mbps'] + df_14['62 Mbps'] + df_14['64 Mbps'] + df_14['65 Mbps'] + df_14['66 Mbps'] + df_14['70 Mbps'] + df_14['75 Mbps'] + df_14['78 Mbps'] + df_14['80 Mbps'] + df_14['83 Mbps']

In [554]:
df_14.shape

(3095, 7)

In [555]:
df_14.columns

Index(['hasta_512_kbps', 'entre_512_kbps_y_1_mbps', 'entre_1_mbps_y_6_mbps',
       'entre_6_mbps_y_10_mbps', 'entre_10_mbps_y_20_mbps',
       'entre_20_mbps_y_30_mbps', 'mas_de_30_mbps'],
      dtype='object')

In [556]:
df_14.to_csv('df_14.csv', index=False)

# Df_15.

In [ ]:
import pandas as pd

In [473]:
ruta15 = 'Data/data_15.csv'

In [474]:
df_15 = pd.read_csv(ruta15)

In [488]:
df_15.head()

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,874,"4,54",0,3,0,852,0,706,"6,98"
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,0,0,0,10,1,0,0,192
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,0,0,0,0,0,0,0,181,181
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,0,782,0,6,167,0,0,327,"1,28"
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,0,0,0,0,0,0,0,6,6

In [477]:
df_15.dtypes

Provincia         object
Partido           object
Localidad         object
Link Indec        object
ADSL              object
CABLEMODEM        object
DIAL UP           object
FIBRA OPTICA      object
OTROS             object
SATELITAL         object
WIMAX             object
WIRELESS          object
Total general     object
Unnamed: 13      float64
dtype: object

In [479]:
df_15.shape

(3137, 14)

In [480]:
df_15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3137 entries, 0 to 3136
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      3137 non-null   object
 1   Partido        3137 non-null   object
 2   Localidad      3137 non-null   object
 3   Link Indec     3137 non-null   object
 4   ADSL           3137 non-null   object
 5   CABLEMODEM     3137 non-null   object
 6   DIAL UP        3137 non-null   object
 7   FIBRA OPTICA   3137 non-null   object
 8   OTROS          3137 non-null   object
 9   SATELITAL      3137 non-null   object
 10  WIMAX          3137 non-null   object
 11  WIRELESS       3137 non-null   object
 12  Total general  3137 non-null   object
 13  Unnamed: 13    0 non-null      float64
dtypes: float64(1), object(13)
memory usage: 343.2+ KB

La columna Unnamed: 13 tiene puros valores nulos, así que la voy a borrar.

In [481]:
df_15.drop(columns='Unnamed: 13', inplace=True)

Ahora quiero reemplazar los valores que sean '- 0' con '0' y las ',' por '.'.

In [489]:
df_15 = df_15.replace('- 0', '0')

In [491]:
df_15 = df_15.applymap(lambda x: x.replace(',', '.') if isinstance(x, str) else x)

In [496]:
df_15.head()

,provincia,partido,localidad,link_indec,adsl,cablemodem,dial_up,fibra_optica,otros,satelital,wimax,wireless,total_general
0,buenos aires,25 de mayo,25 de mayo,6854100,874,4.54,0,3,0,852,0,706,6.98
1,buenos aires,25 de mayo,del valle,6854020,181,0,0,0,10,1,0,0,192
2,buenos aires,25 de mayo,gobernador ugarte,6854040,0,0,0,0,0,0,0,181,181
3,buenos aires,25 de mayo,norberto de la riestra,6854060,0,782,0,6,167,0,0,327,1.28
4,buenos aires,25 de mayo,lucas monteverde,6854050,0,0,0,0,0,0,0,6,6

Cambiando nombres de las columnas

In [493]:
nuevas_columnas = {
    'Provincia': 'provincia',
    'Partido': 'partido',
    'Localidad': 'localidad',
    'Link Indec': 'link_indec',
    'ADSL': 'adsl',
    'CABLEMODEM': 'cablemodem',
    'DIAL UP': 'dial_up',
    'FIBRA OPTICA': 'fibra_optica',
    'OTROS': 'otros',
    'SATELITAL': 'satelital',
    'WIMAX': 'wimax',
    'WIRELESS': 'wireless',
    'Total general': 'total_general'
}
df_15.rename(columns=nuevas_columnas, inplace=True)

Normalizando el texto del df

In [495]:
import unicodedata

for column in df_15.columns:
    if df_15[column].dtype == 'object':
        df_15[column] = df_15[column].str.lower().apply(lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode('utf-8'))

In [514]:
df_15.to_csv('df_15.csv', index=False)

Del df_15 me faltaría cambiar la columna de total, ya que supongo que tiene que sumar todas las demas.

# Df_16

In [ ]:
import pandas as pd

In [497]:
ruta16 = 'Data/data_16.csv'

In [498]:
df_16 = pd.read_csv(ruta16)

In [499]:
df_16.head()

,Provincia,Partido,Localidad,ADSL,Cablemódem,Dial Up,Fibra óptica,4G,3G,Telefonía Fija,Wireless,Satelital
0,BUENOS AIRES,9 de Julio,Alfredo Demarchi (Est. Facundo Quiroga),SI,--,--,--,SI,SI,SI,--,--
1,BUENOS AIRES,9 de Julio,Carlos María Naón,--,--,--,--,SI,SI,SI,--,--
2,BUENOS AIRES,9 de Julio,Dudignac,--,--,SI,--,SI,SI,SI,SI,--
3,BUENOS AIRES,9 de Julio,La Aurora (Est. La Niña),--,--,--,--,SI,--,--,--,--
4,BUENOS AIRES,9 de Julio,Manuel B. Gonnet (Est. French),SI,--,--,SI,SI,SI,SI,--,--

In [501]:
df_16.dtypes

Provincia         object
Partido           object
Localidad         object
ADSL              object
Cablemódem        object
Dial Up           object
Fibra óptica      object
4G                object
3G                object
Telefonía Fija    object
Wireless          object
Satelital         object
dtype: object

In [503]:
df_16.shape

(4311, 12)

In [505]:
df_16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4311 entries, 0 to 4310
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Provincia       4311 non-null   object
 1   Partido         4311 non-null   object
 2   Localidad       4311 non-null   object
 3   ADSL            4311 non-null   object
 4   Cablemódem      4311 non-null   object
 5   Dial Up         4311 non-null   object
 6   Fibra óptica    4311 non-null   object
 7   4G              4311 non-null   object
 8   3G              4311 non-null   object
 9   Telefonía Fija  4311 non-null   object
 10  Wireless        4311 non-null   object
 11  Satelital       4311 non-null   object
dtypes: object(12)
memory usage: 404.3+ KB

Aparentemente no hay nulos en sí, pero si hay muchos valores '--'.

In [512]:
df_16.head(1)

,provincia,partido,localidad,adsl,cablemodem,dial_up,fibra_optica,4g,3g,telefonia_fija,wireless,satelital
0,buenos aires,9 de julio,alfredo demarchi (est. facundo quiroga),si,--,--,--,si,si,si,--,--

Antes de ocuparme de éstos, voy a cambiar el nombre de las columnas.

In [509]:
nuevas_columnas = {
    'Provincia': 'provincia',
    'Partido': 'partido',
    'Localidad': 'localidad',
    'ADSL': 'adsl',
    'Cablemódem': 'cablemodem',
    'Dial Up': 'dial_up',
    'Fibra óptica': 'fibra_optica',
    '4G': '4g',
    '3G': '3g',
    'Telefonía Fija': 'telefonia_fija',
    'Wireless': 'wireless',
    'Satelital': 'satelital'
}
df_16.rename(columns=nuevas_columnas, inplace=True)

Sacando mayúsculas y tildes

In [511]:
import unicodedata

for column in df_16.columns:
    if df_16[column].dtype == 'object':
        df_16[column] = df_16[column].str.lower().apply(lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode('utf-8'))

Removiendo las ')(' y lo que está adentro de la columna 'localidad'

In [528]:
df_16['localidad'] = df_16['localidad'].str.replace(r'\([^)]*\)', '', regex=True)

In [513]:
df_16.to_csv('df_16.csv', index=False)